################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

########### 全局 ###########
*.user
*.vspscc
*.vssscc
desktop.ini

########### /* ###########
/*/.vs
/*/packages
/*/TestResults
/*/*/obj
/*/*/bin/Debug
/*/*/*.nupkg

########### /NetFramework ###########
/NetFramework/UnifiedPaySDK.UnitTest/bin
/NetFramework/UnifiedPaySDK.UnitTest/obj